<button class="btn btn-blue-solid" id="show-topics"><i class="fa fa-sitemap margin-right"></i>Show topics</button>

<script>
$( document ).ready(function() {
  var fixmeTop = $('.sidebar').offset().top;

  if ($('#semantic-map').css("display") == 'block') {
      fixmeTop = fixmeTop + 240
  }

  var is_mobile = false;

  if( $('#mobile-check').css('display')=='none') {
      is_mobile = true;
  }

  if (is_mobile == false) {
      $('#show-topics').css({
          width: $('.sidebar-content').width(),
      })

      $('.sidebar-content').css({
          width: $('.sidebar-content').width(),
      })

    $(window).scroll(function() {

      var currentScroll = $(window).scrollTop();

      if (currentScroll >= fixmeTop) {
        $('.sidebar-content').addClass('sidebar-fixed');
        $('.sidebar-content').removeClass('sidebar-static');
      } else {
        $('.sidebar-content').removeClass('sidebar-fixed');
        $('.sidebar-content').addClass('sidebar-static');
      }
  });
  }
});

</script>
