// _colors.scss

$turquoise: #36D7B7;
$sunset-orange: #F64747;
$white: #FFFFFF;
$cosmos: #F7CA18;
$shakespeare: #40BBCB;
$yellow: #F2784B;

// Dark colors
$mercury: #E5E5E5;
$silver: #ABABAB;
$chicago: #5F5F5F;
$mine: #2F2F2F;
//Darkest
