.background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.article-content {
  font-size: 18px;
  line-height: 28px;
  // font-weight: lighter;
  // text-align: justify;
  font-family: Roboto slab;
  font-weight: 300;
  margin-bottom: 70px;
  color: $mine;


  .content-preview {
      overflow: hidden;
      height: 150px;
  }

  p {
    margin: 15px 0 30px;
    padding: 0 30px;
  }

  img {
    width: 100%;
    margin: 20px 0 10px 0;
  }

  .read-more {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 25px;

    a {
      color: $turquoise;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.article-cover {
  @include cover-background();
  height: 230px;
  position: relative;
  margin-bottom: 20px;

  // .container {
  //   position: absolute;
  //   bottom: 0;
  // }
  .content {
    padding: 0 30px;
    // padding-top: 20px;
    bottom: 30px;
    // left: 15px;
    width: 100%;
    position: absolute;

  }
  .title {
    // float: left;
  }

  .info {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 18px;
    // text-align: right;
    margin-top: 23px;

    .date {
      color: darken($white, 10);
      float: right;
    }
    a {
      color: $white;
    }

    a:hover {
      text-decoration: underline;
    }
    p {
      margin-top: 0px;
      margin-bottom: 0;
      display: inline-block;
    }
  }
  // .container {
  //   padding-top: 100px;
  // }
  color: $white;
  h1 {
    font-size: 40px !important;
    letter-spacing: 1.39px;
    font-weight: normal;
    margin: 0;
    a {
      text-decoration: none;
      color: $white;
    }
    a:hover {
      // color: darken($white, 30);
      text-decoration: underline;
      // border-bottom: 2px solid $white;
      // color: $turquoise;
    }
  }
  .article-sub-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
    margin-top: 10px;
    a {
      color: $white;
    }
    a:hover{
      // color: $turquoise;
      // color: darken($white, 30);
      text-decoration: underline;
    }
  }
}

.article-cover-small {
    @extend .article-cover;
    height: 180px;

    h1 {
        font-size: 33px !important;
    }

    .article-sub-title {
        font-size: 15px;
    }

    .info {
        margin-top: 10px;
    }
}

.article-cover-detail {
    @extend .article-cover;

    .container {
      padding-top: 100px;
    }

    .title {
      float: left;
    }

    .info {
      text-align: right;
    }
    h1 {
      font-size: 48px;
    }
    .info {
      font-family: Roboto;
      font-weight: lighter;
      font-size: 18px;
      // text-align: right;
      margin-top: 23px;

      .date {
        color: darken($white, 10);
        float: none;
      }
      a {
        color: $white;
      }

      a:hover {
        text-decoration: underline;
      }
      p {
          display: block;
        margin-top: 0px;
        margin-bottom: 0;
      }
    }
}

.pagination-container {
  text-align: center;
  margin-bottom: 50px;
  border-top: 1px solid $mercury;
}

.pagination {
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase;
  // font-weight: 300;


  li {
    span {
      color: $turquoise;
    }
    span:hover {
      background: none;
      color: $turquoise;
    }
    a {
      color: $turquoise;
    }
  }
}

main {
  header {
    margin: 80px 0 60px;
  }
}

aside {
    position: relative;
}

.sidebar {
    padding-top: 80px;
    padding-left: 70px;
    position: relative;


    .sidebar-content {
        max-width: 300px;
    }

    .topics, .keywords {
        margin-top: 20px;
    }

    h4 {
        margin-top: 30px;
    }

    h4:first-child {
        margin-top: 0px;
    }
}
