// _footer.scss

footer {
  font-family: Roboto, sans;
  font-weight: lighter;
  color: $silver;
  text-transform: uppercase;
  a {
    color: $silver;


  }
  a:hover {
    color: $turquoise;
  }
  p {
    margin:0;
  }
  // border-top: 1px solid $mercury;
  margin-top: 50px;
  // padding-top: 45px;
  height: 80px;
}
