svg {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg.border {
    border-bottom: 1px solid $mercury;
 }

svg.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
}

#hide-topics {
    position: fixed;
    top: 80px;
    right: 30px;
    z-index: 1000;
}

.svg-container {
    position: relative;

    .svg-info {
        position:absolute;
        right: 20px;
        top: 50px;

        .icon {
            display: inline-block;
            @include floating(46px);
            @include btn-color($yellow, $white);
            margin-top: 10px;
        }

        .text {
            float: right;
            text-align: justify;
            width: 230px;
            margin-left: 20px;
            color: $chicago;
        }
    }
}

.node circle {
  fill: $turquoise;
}

.node:hover {
  cursor: pointer;
  circle {
    stroke-width: 3px;
    stroke: darken($turquoise, 20%);
  }
}

.node text {
  text-anchor: middle;
  fill: white;
}

path.link {
  fill: none;
  stroke: gray;
  stroke-width: 2.5px;
  cursor: default;
}
