svg {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.node circle {
  fill: $turquoise;
}

.node:hover {
  cursor: pointer;
  circle {
    stroke-width: 3px;
    stroke: darken($turquoise, 20%);
  }
}

.node text {
  text-anchor: middle;
  fill: white;
}

path.link {
  fill: none;
  stroke: gray;
  stroke-width: 2.5px;
  cursor: default;
}
