body {
  padding-top: 60px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }

h1, #article-title {
  font-size: 48px;
  font-weight: bolder; }

h2, #article-subtitle {
  font-size: 24px; }

h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #ABABAB; }

.inline {
  display: inline-block; }

.left-space {
  margin-left: 20px; }

.headline {
  margin-bottom: 20px; }

.navbar {
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  background-color: #FFFFFF; }
  .navbar .navbar-nav li a {
    color: #5F5F5F;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase; }
  .navbar .navbar-nav li a:hover {
    color: #36D7B7 !important; }
  .navbar .navbar-nav li .active a {
    background: transparent; }
  .navbar .navbar-brand {
    padding-top: 18px;
    margin-right: 10px; }

#navbar-user {
  margin-right: 0; }
  #navbar-user .btn {
    color: #5F5F5F;
    border: 0;
    background: transparent;
    padding-top: 0;
    padding-bottom: 0; }
    #navbar-user .btn img {
      border-radius: 50%;
      border: 2px #ABABAB solid; }
    #navbar-user .btn .icon {
      line-height: 34px; }

.jumbotron {
  height: 400px;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.form-control {
  font-size: 14px;
  font-weight: lighter;
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none; }

.form-control:focus {
  box-shadow: none; }

.input-group-addon {
  background: transparent;
  border: 0;
  border-radius: 0; }

.white {
  color: #FFFFFF !important;
  border-bottom: 1px solid #FFFFFF; }

.white:focus {
  color: #FFFFFF !important;
  border-bottom: 1px solid #FFFFFF; }

.gray {
  color: #5F5F5F !important;
  border-bottom: 1px solid #ABABAB; }

.gray:focus {
  color: #5F5F5F !important;
  border-bottom: 1px solid #ABABAB; }

.white::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #FFFFFF !important; }

.white:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF !important;
  opacity: 1; }

.white::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFFFFF !important;
  opacity: 1; }

.white:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF !important; }

.gray::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #5F5F5F !important; }

.gray:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5F5F5F !important;
  opacity: 1; }

.gray::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5F5F5F !important;
  opacity: 1; }

.gray:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5F5F5F !important; }

#article-title {
  height: auto;
  padding-bottom: 0;
  padding-top: 5px;
  margin-bottom: -5px; }

#article-subtitle {
  font-weight: normal;
  height: auto;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 50px; }

#article-content {
  height: inherit;
  resize: none;
  font-size: 18px;
  font-weight: lighter;
  border: 0;
  margin-bottom: 200px; }

.dropdown-form {
  margin-top: 20px; }
  .dropdown-form .btn {
    text-align: left;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0; }
    .dropdown-form .btn .btn-icon {
      margin-right: 20px; }
  .dropdown-form .btn:active {
    box-shadow: none; }
  .dropdown-form .dropdown-menu {
    border-radius: 0;
    box-shadow: none; }

.dropdown-menu-right {
  text-align: right; }

.dropdown .icon {
  margin-left: 10px;
  line-height: 18px; }

.btn {
  font-weight: lighter;
  padding: 6px 25px;
  border-radius: 40px;
  box-shadow: none; }

.btn:active {
  box-shadow: none; }

.btn-white-outline {
  background: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF; }

.btn-white-outline:hover,
.btn-white-outline:active,
.btn-white-outline:focus {
  background: transparent;
  border-color: #36D7B7;
  color: #36D7B7; }

.btn-gray-outline {
  background: transparent;
  border-color: #ABABAB;
  color: #ABABAB; }

.btn-gray-outline:hover,
.btn-gray-outline:active,
.btn-gray-outline:focus {
  background: transparent;
  border-color: #929292;
  color: #929292; }

.btn-green-outline {
  background: transparent;
  border-color: #36D7B7;
  color: #36D7B7; }

.btn-green-outline:hover,
.btn-green-outline:active,
.btn-green-outline:focus {
  background: transparent;
  border-color: #24b699;
  color: #24b699; }

.btn-red-solid {
  background: #F64747;
  color: #FFFFFF; }

.btn-red-solid:hover,
.btn-red-solid:active,
.btn-red-solid:focus {
  background: #f41616;
  color: #FFFFFF; }

.footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 150px;
  padding-top: 45px;
  height: 200px; }

/*# sourceMappingURL=style.css.map */
