// _button.scss

.btn {
  font-weight: lighter;
  padding: 6px 25px;
  border-radius: 40px;
  box-shadow: none;

  .margin-right {
    margin-right: 10px;
  }
}

.btn:active {
  box-shadow: none;
}

.btn-white-outline {
  @include btn-outline($white);
}

.btn-white-outline:hover,
.btn-white-outline:active,
.btn-white-outline:focus {
  @include btn-outline-hover($turquoise);
}

.btn-gray-outline {
  @include btn-outline($silver);
}

.btn-gray-outline:hover,
.btn-gray-outline:active,
.btn-gray-outline:focus {
  @include btn-outline-hover(darken( $silver, 10% ));
}

.btn-green-outline {
  @include btn-outline($turquoise);
}

.btn-green-outline:hover,
.btn-green-outline:active,
.btn-green-outline:focus {
  @include btn-outline-hover(darken( $turquoise, 10% ));
}

.btn-red-solid {
  @include btn-solid($sunset-orange, $white);
}

.btn-red-solid:hover,
.btn-red-solid:active,
.btn-red-solid:focus {
  @include btn-solid-hover(darken( $sunset-orange, 10% ), $white);
}

.btn-green-solid {
  @include btn-solid($turquoise, $white);
}

.btn-green-solid:hover,
.btn-green-solid:active,
.btn-green-solid:focus {
  @include btn-solid-hover(darken( $turquoise, 10% ), $white);
}
