{% extends "semantic_admin/base_site.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block jumbotron %}
<div class="jumbotron" style="background-image: linear-gradient(-180deg, #64DDC4 0%, #74C1C6 100%);">
  <div class="container">
    <h1 class="white">Article types</h1>
    <h2 class="white">Create your article types here</h2>
    <div class="row">

      <form id="article_flag_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-sm-4">

    <div class="input-group">
      <span class="input-group-addon white-form"><i class="fa fa-align-left"></i></span>
      {% render_field form.name form="article_flag_form" placeholder="Name of the article type" class+="form-control white-form" id="flag_name" %}
    </div>

    </div>
      <div style="height: 45px;">
      <input form="article_flag_form" class="btn btn-white-outline-no-hover inline left-space pull-down" role="button" type="submit" name="save" value="{{ button_text }}" />
    </div>
      </form>
        </div>
  </div>
</div>
{% endblock %}

{% block content %}
<!--<a class="btn btn-green-solid" href="#" role="button">
  <span class="icon margin-right">+</span>Add new article type</a>

  <h1>Create new article type</h1>-->
<div class="article-list" style="margin-top: 0;">
  {% for flag in article_flags %}
  <div class="article-row">
    <h2 class="inline"><a href="#">{{ flag.name }}</a></h2>
    <div class="details">
      <span class="left">
        <span class="detail"><i class="fa fa-calendar icon"></i>{{ flag.created_date }}</span>
      </span>
      <span class="right">
        <!--<span class="detail"><i class="fa fa-eye icon"></i>N/A</span>
        <span class="detail"><i class="fa fa-heart-o icon"></i>N/A</span>
         <button class="btn btn-gray-outline btn-round" href="#" role="button">
          <i class="fa fa-sitemap"></i></button> -->
        <a class="btn btn-green-outline btn-round" href="{% url 'semantic_admin:article_types:edit_article_flag' flag.slug %}" role="button">
          <i class="fa fa-pencil"></i></a>
        <a class="btn btn-red-outline btn-round" href="{% url 'semantic_admin:article_types:delete_article_flag' flag.slug %}" role="button">
          <i class="fa fa-trash-o"></i></a>
      </span>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block extrascripts %}
<!-- Bootstrap DateTimePicker.js -->
<script type="text/javascript" src="{% static 'semantic_admin/scripts/bootstrap-datetimepicker.js' %}"></script>

<!-- Slugify.js -->
<script type="text/javascript" src="{% static 'semantic_admin/scripts/jquery.slugify.js' %}"></script>

<!-- Are you sure?.js -->
<script type="text/javascript" src="{% static 'semantic_admin/scripts/jquery.are-you-sure.js' %}"></script>

<!-- autosize.js -->
<script type="text/javascript" src="{% static 'semantic_admin/scripts/autosize.min.js' %}"></script>

<!-- tag it.js -->
<script src="{% static 'semantic_admin/scripts/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
  $('.pull-down').each(function() {
    $(this).css('margin-top', $(this).parent().height() - $(this).height())
  });
  $('#filter_article_flag').selectpicker({
    style: 'white-form',
  });

  $('#filter_article_status').selectpicker({
    style: 'white-form',
  });

  $(function() {
    $('#filter_article_created_date_wrapper_from').datetimepicker({format: 'yyyy-MM-dd', pickTime: false});
  });

  $(function() {
    $('#filter_article_created_date_wrapper_to').datetimepicker({format: 'yyyy-MM-dd', pickTime: false});
  });

  $('input').keydown(function(e) {
    if (e.keyCode == 13) {
        $('#filter_article_form').submit();
    }});

  $('#filter_article_status_dropdown #icon').addClass('fa-file-o');

  $('#filter_article_flag_dropdown #icon').addClass('fa-align-left');
</script>
{% endblock %}
