{% extends "semantic_admin/base_site.html" %}

{% block jumbotron %}
<div class="jumbotron" style="background-image: linear-gradient(-180deg, #64DDC4 0%, #74C1C6 100%);">
  <div class="container">
    <h1 class="white">Article types</h1>
    <h2 class="white">Create your article types here</h2>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="delete-alert text-center">
    <div class="inline-block">
      <i class="fa fa-exclamation-triangle icon" style="font-size:80px;"></i>
    </div>
    <div class="text text-left inline-block">
      <h3 class="title">Are you sure?</h3>
      <div class="subtitle">You want to delete "{{ object }}"</div>
    </div>
  </div>

  <div class="text-center">
    <form action="" method="post">{% csrf_token %}

        <input class="btn btn-red-solid" type="submit" value="Delete" />
    </form>
  </div>
</div>

{% endblock %}
