{% extends "semantic_admin/base.html" %}
{% load staticfiles %}

{% block navbar %}
<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="{% url 'admin:index' %}">
          <img alt="Brand" src="{% static 'semantic_admin/img/logo.png' %}">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="header-navbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'admin:content:index' %}">Content</a></li>
          <li><a href="{% url 'admin:semantic:index' %}">Semantic</a></li>
          <li><a href="{% url 'admin:article_types:index' %}">Article types</a></li>
          <li><a href="{% url 'admin:settings:index' %}">Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="dropdown navbar-right" id="navbar-user">
            <button class="btn navbar-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {% if user_profile.0.profile_image %}
              <img width="30" height="30" alt="avatar" src="{{ user_profile.0.profile_image.url }}"><i class="fa fa-angle-down icon" style="float: right;"></i>
              {% else %}
              <img width="30" height="30" alt="avatar" src="http://placehold.it/100x100"><i class="fa fa-angle-down icon" style="float: right;"></i>
              {% endif %}

            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li><a href="{% url 'admin:settings:user' %}">{{ user.first_name }} {{ user.last_name }}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'admin:logout' %}">Log out</a></li>
            </ul>
          </div>
          <li class="right-space"><a href="{% url 'index' %}">View site</a></li>
        </ul>

      </div>
    </div>
  </nav>
  </div>
</header>
{% endblock %}

{% block extrastyle %}
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<!-- Bootstrap select -->
<link rel="stylesheet" href="{% static 'semantic_admin/css/bootstrap-select.min.css' %}">

<!-- Bootstrap datetimepicker -->
<link rel="stylesheet" href="{% static 'semantic_admin/css/bootstrap-datetimepicker.min.css' %}">

<!-- Tag it -->
<link href="{% static 'semantic_admin/css/jquery.tagit.min.css' %}" rel="stylesheet" type="text/css">

<!-- Own CSS -->
<link rel="stylesheet" href="{% static 'semantic_admin/sass/style.css' %}">

<!-- Typeface -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

{% endblock %}
