{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        <title>Semantic Admin - {% block title %}{{ title }}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'semantic_admin/css/bootstrap.min.css' %}">
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>

    <body>
      {% block navbar %}{% endblock %}
      {% block jumbotron %}{% endblock %}
      <div class="container">
      {% block content %}
      {% endblock %}
      </div>

      {% block footer %}{% endblock %}

      {% block message %}
      {% endblock %}

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

      <script>
      /*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
      $.widget.bridge('uibutton', $.ui.button);
      $.widget.bridge('uitooltip', $.ui.tooltip);
      </script>

      <!-- Include all compiled plugins (below), or include individual files as needed-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <!-- Retina.js -->
      <script type="text/javascript" src="{% static 'semantic_admin/scripts/retina.min.js' %}"></script>

      <!-- Bootstrap Select.js -->
      <script type="text/javascript" src="{% static 'semantic_admin/scripts/bootstrap-select.min.js' %}"></script>

      {% block extrascripts %}{% endblock %}
    </body>
</html>
