{% extends "semantic_admin/base_site.html" %} {% block jumbotron %}
<div class="jumbotron" style="background-image: linear-gradient(-180deg, #64DDC4 0%, #74C1C6 100%);">
  <div class="container">
    <h1 class="white">Content manager</h1>
    <h2 class="white">Manage your content here</h2>
    {% if article_list.all %}
    <div class="row jumbotron-gap">
      <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-addon white-form"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control white-form" placeholder="Search">
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-3">
        <div class="dropdown dropdown-form">
          <button class="btn dropdown-toggle btn-block white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="btn-icon fa fa-align-left"></i> Dropdown
            <i class="fa fa-angle-down" style="float: right;"></i>
          </button>
          <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="dropdown dropdown-form">
          <button class="btn dropdown-toggle btn-block white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="btn-icon fa fa-align-left"></i> Dropdown
            <i class="fa fa-angle-down" style="float: right;"></i>
          </button>
          <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-6">
        <div class="dropdown dropdown-form">
          <button class="btn dropdown-toggle btn-block white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="btn-icon fa fa-align-left"></i> Dropdown
            <i class="fa fa-angle-down" style="float: right;"></i>
          </button>
          <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="dropdown dropdown-form">
          <button class="btn dropdown-toggle btn-block white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="btn-icon fa fa-align-left"></i> Dropdown
            <i class="fa fa-angle-down" style="float: right;"></i>
          </button>
          <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block content %}
{% if article_list.all %}
<a class="btn btn-green-solid" href="{% url 'semantic_admin:content:create_article' %}" role="button">
  <span class="icon margin-right">+</span>Write new article</a>
<div class="float-right">
  <button class="btn btn-gray-outline inline" href="#" role="button">
    <span class="icon margin-right">×</span>Reset filters</button>
</div>


<div class="article-list">
  {% for article in article_list %}
  <div class="article-row">
    <h2 class="inline"><a href="{% url 'semantic_admin:content:edit_article' article.id %}">{{ article.title }}</a></h2>
    {% if article.is_draft %}
    <h4>draft</h4>
    {% endif %}
    <div class="details">
      <span class="left">
        <span class="detail"><i class="fa fa-align-left icon"></i>{{ article.flag }}</span>
        <span class="detail"><i class="fa fa-calendar-o icon"></i>{{ article.created_date }}</span>
      </span>
      <span class="right">
        <span class="detail"><i class="fa fa-eye icon"></i>N/A</span>
        <span class="detail"><i class="fa fa-heart-o icon"></i>N/A</span>
        <button class="btn btn-gray-outline btn-round" href="#" role="button">
          <i class="fa fa-sitemap"></i></button>
        <a class="btn btn-blue-outline btn-round" href="{% url 'semantic_admin:content:edit_article' article.id %}" role="button">
          <i class="fa fa-pencil"></i></a>
        <a class="btn btn-red-outline btn-round" href="{% url 'semantic_admin:content:delete_article' article.id %}" role="button">
          <i class="fa fa-trash-o"></i></a>
      </span>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="row">
  <div class="no-content text-center">
    <div class="inline-block">
      <i class="fa fa-align-left icon" style="font-size:80px;"></i>
    </div>
    <div class="text text-left inline-block">
      <h3 class="title">No articles</h3>
      <div class="subtitle">You should write some!</div>
    </div>
  </div>

  <div class="text-center">
  <a class="btn btn-green-solid" href="{% url 'semantic_admin:content:create_article' %}" role="button">
    <span class="icon margin-right">+</span>Write new article</a>
  </div>
  <div class="no-content">
  </div>
</div>

{% endif %} {% endblock %}
