{% extends "semantic_admin/base_site.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block jumbotron %}
{% endblock %}

{% block title %}
Done
{% endblock %}

{% block content %}
<div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="headline">
          <h1>Settings</h1>
          <h2>Setup your blog here</h2>
        </div>
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{% url 'admin:settings:index' %}">Blog</a></li>
          <li role="presentation"><a href="{% url 'admin:settings:user:index' %}">User profile</a></li>
          <li role="presentation"><a href="{% url 'admin:settings:user:change_password' %}">Change password</a></li>
          <li role="presentation" class="active"><a href="{% url 'admin:settings:reset' %}">Reset data</a></li>
        </ul>

        <div class="settings">
        <div class="settings-section">
        <h3>Reset done</h3>
        <div class="row">
        <div class="col-sm-8">
            <p>Everything is in default state.</p>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'admin:settings:reset' %}" class="btn btn-gray-outline">Ok</a>
        </div>
        </div>
        </div>



        </div>

      </div>
      </div>
{% endblock %}

{% block extrascripts %}
{% endblock %}
