{% extends "semantic_admin/base_site.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block extrahead %} {% endblock %}
{% block jumbotron %}
<div class="container-fluid">
  <div class="row">
  <div class="col-sm-9 no-padding">

    <div class="toolbar">
        <div class="buttons">
        <a class="btn floating green" id="add" role="button" title="Add new node">
          <i class="fa fa-plus"></i></a>

          <a class="btn floating blue hidden" id="assign" role="button" title="Assign to article">
            <i class="fa fa-bookmark"></i></a>
            <a class="btn floating blue hidden" id="unassign" role="button" title="Unassign article">
              <i class="fa fa-bookmark-o"></i></a>


          <a class="btn floating white hidden" id="edit" role="button" title="Edit node">
            <i class="fa fa-pencil"></i></a>

            <a class="btn floating white hidden" id="reset" role="button" title="Deselect article">
              <i class="fa fa-times"></i></a>

        <a class="btn floating red hidden" id="delete" role="button" title="Delete node">
            <i class="fa fa-trash"></i></a>

          <a class="btn floating white hidden" id="connect" role="button" title="Connect nodes"><i class="fa fa-link"></i></a>

          <a class="btn floating white" id="help" role="button" title="Help"><i class="fa fa-question"></i></a>
      </div>
    </div>
    <svg>
    </svg>
    <div id="dialog-confirm" title="Delete selected item?" class="hidden">
     <p><i class="fa fa-exclamation-triangle icon"></i>This item will be permanently deleted and cannot be recovered. Are you sure?</p>
   </div>

   <div id="dialog-help" title="Help" class="hidden">
    <p>Welcome in Semantic map editor, here you can manage your topic map and assign/unassign articles to the topics.<br><br></p>

    <h4>Node operations</h4>
    <p><b>Add node</b> - Click on round button with <i class="fa fa-plus"></i> icon.</p>
    <p><b>Edit node</b> - Select node, then click on round button with <i class="fa fa-pencil"></i> icon.</p>
    <p><b>Delete node</b> - Select node, click on round button with <i class="fa fa-trash"></i> icon.<br><br></p>

    <h4>Connection operations</h4>
    <p><b>Connect two nodes</b> - Select first node, select second node with SHIFT key then click on button with <i class="fa fa-link"></i> icon.</p>
    <p><b>Delete connection</b> - Select connection between nodes, click on round button with <i class="fa fa-trash"></i> icon.<br><br></p>

    <h4>Article operations</h4>
    <p>You can select and deselect article in right sidebar. If selected article has some assigned topics, they will be displayed as <b>blue one</b>.<br><br></p>
    <p><b>Deselect selected article</b> - Click on round button with <i class="fa fa-times"></i> icon.</p>
    <p><b>Assign article to the topic</b> - Select article, then click on round button with <i class="fa fa-bookmark"></i> icon.</p>
    <p><b>Un-assign article from the topic</b> - Select article, then click on round button with <i class="fa fa-bookmark-o"></i> icon.</p>
  </div>

   <div id="dialog-add" title="Add new node?" class="hidden">
       <p>
       Enter name of the new node here, name should be unique.<br>
       <span class="error"></span>
       <div class="input-group">
           <span class="input-group-addon gray-form"><i class="fa fa-font"></i></span>
           <input class="form-control gray-form" id="new-node-name" value="Node name">
       </div>
   </p>
   </div>

   <div id="dialog-edit" title="Edit name of selected node?" class="hidden">
       <p>
       Enter new name of the selected node. Name must be unique.<br>
       <span class="error"></span>
       <div class="input-group">
           <span class="input-group-addon gray-form"><i class="fa fa-font"></i></span>
           <input class="form-control gray-form" id="rename-node-name">
       </div>
   </p>
   </div>
  </div>

  <div class="col-sm-3 article-list-right">
    <h4>Articles</h4>


    <form id="filter_article_form" action="" method="get">

        <div class="input-group">
          <span class="input-group-addon gray-form"><i class="fa fa-search"></i></span>
          {% render_field filter.form.search form="filter_article_form" class+="form-control gray-form" id="filter_article_title" placeholder="Search" onchange="this.form.submit()" %}
        </div>
        </form>
    <div class="articles">
    {% for article in article_list %}

    <div class="article" id="{{ article.id }}">
      <h3 class="inline">{{ article.title }}</h3>{% if article.is_draft %}<h4 class="inline left-space">Draft</h4>{% endif %}<br>
      <h4 class="lowercase">{{ article.flag }} - {{ article.created_date|date:'m.d.Y' }}</h4>
    </div>
    {% empty %}
    <div class="article nohover" id="{{ article.id }}">
      <h3>No article found</h3>
      <h4 class="lowercase">Reset search or disable filter.</h4>
    </div>
    {% endfor %}

</div>
{% if request.GET.search != None %}
<a class="btn btn-gray-outline" href="{% url 'admin:semantic:index' %}" role="button">
<span class="icon margin-right">×</span>Disable filter</a>
{% endif %}
  </div>
</div>
</div>
{% endblock %} {% block extrascripts %}

<script type="text/javascript">
$(function() {
    $('input').keydown(function(e) {
        if (e.keyCode == 13) {
            $('#filter_article_form').submit();
        }});

    $( document ).uitooltip({
    position: {
      my: "right-15 top-16",
      at: "left center",
    },
    show: {
        delay: 500
    }
    });
    });
    var article_nodes = JSON.parse("{{ article_nodes }}");
    var selectedArticle;
    {% if selected_article.id %}
    selectedArticle = {{ selected_article.id }};
    {% endif %}
</script>

<script type="text/javascript" src="{% static 'semantic_admin/scripts/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'semantic_admin/scripts/semantic_map.js' %}"></script>
{% endblock %}
