{% load dag_tags %}
{% load staticfiles %}
{% load widget_tweaks %}

{% for dag_instance in dag_list %}
  <br><br><i>{{ dag_instance }}</i><br><br>
  {% if dag_instance.is_root %}<strong>Descendants:</strong><br>
    {% recursedict dag_instance.descendants_tree %}
      {% loop %}
        {% if key %}
          {{ key }}<br>
        {% endif %}
        {% value %}
      {% endloop %}
    {% endrecursedict %}
  {% endif %}

  {% if dag_instance.is_leaf %}<strong>Ancestors:</strong><br>
    {% recursedict dag_instance.ancestors_tree %}
    {% loop %}
      {% if key %}
        {{ key }}<br>
      {% endif %}
      {% value %}
    {% endloop %}
    {% endrecursedict %}
  {% endif %}
{% endfor %}
