.form-control, .tagit, .ui-widget-content {
  font-size: 14px;
  font-weight: lighter;
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding-left: 13px; }

.form-control[readonly], [readonly].tagit, [readonly].ui-widget-content {
  background: transparent; }

.form-control:focus, .tagit:focus, .ui-widget-content:focus {
  box-shadow: none; }

.input-group {
  margin-top: 25px; }

.input-group-addon {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding-left: 25px; }

.form-error {
  border-bottom: 3px solid #725c04 !important; }

.white-form {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF; }

.white-form:focus {
  color: #FFFFFF !important;
  border-bottom: 1px solid #FFFFFF; }

.gray-form, .tagit, .ui-widget-content {
  color: #5F5F5F;
  border-bottom: 1px solid #ABABAB; }

.gray-form:focus, .tagit:focus, .ui-widget-content:focus {
  color: #5F5F5F !important;
  border-bottom: 1px solid #ABABAB; }

.white-form::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #FFFFFF; }

.white-form:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF;
  opacity: 1; }

.white-form::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFFFFF;
  opacity: 1; }

.white-form:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF; }

.gray::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #5F5F5F !important; }

.gray:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5F5F5F !important;
  opacity: 1; }

.gray::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5F5F5F !important;
  opacity: 1; }

.gray:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5F5F5F !important; }

#article_title {
  height: auto;
  padding-bottom: 0;
  padding-top: 5px;
  margin-bottom: -5px; }

#article_subtitle {
  font-weight: normal;
  height: auto;
  padding-bottom: 0;
  padding-top: 0; }

#article_content {
  height: inherit;
  resize: none;
  font-size: 18px;
  font-weight: lighter;
  border: 0;
  margin-bottom: 100px; }

ul.tagit {
  width: 100% !important; }

.tagit, .ui-widget-content {
  border: none !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  color: #5F5F5F !important;
  font-weight: lighter !important;
  padding-bottom: 5px !important; }
  .tagit .ui-state-default, .ui-widget-content .ui-state-default {
    background: none !important;
    border: 1px solid #ABABAB !important;
    border-radius: 40px;
    line-height: 25px !important;
    margin-right: 10px;
    margin-bottom: 8px; }
  .tagit li.tagit-choice, .ui-widget-content li.tagit-choice {
    padding-left: 20px !important; }
    .tagit li.tagit-choice span.tagit-label, .ui-widget-content li.tagit-choice span.tagit-label {
      margin-right: 20px; }
    .tagit li.tagit-choice a.tagit-close, .ui-widget-content li.tagit-choice a.tagit-close {
      margin-right: 15px;
      font-size: 18px;
      margin-top: -10px !important; }
  .tagit .tagit-new, .ui-widget-content .tagit-new {
    margin-top: 7px;
    margin-bottom: 4px;
    margin-left: 10px; }
  .tagit .ui-state-default:hover, .ui-widget-content .ui-state-default:hover {
    background: none !important;
    border: 1px solid #F64747 !important; }
    .tagit .ui-state-default:hover a, .ui-widget-content .ui-state-default:hover a {
      color: #F64747; }

.ui-autocomplete {
  border: 1px solid #E5E5E5 !important;
  border-radius: 2px;
  background: #FFFFFF; }
  .ui-autocomplete .ui-menu-item {
    margin-top: 8px;
    margin-bottom: 5px; }
  .ui-autocomplete li.ui-menu-item:hover a {
    background: none !important;
    border: none !important;
    list-style-image: none !important;
    font-weight: lighter !important; }
  .ui-autocomplete a:hover {
    background: none !important;
    border: none !important;
    text-decoration: none !important;
    list-style-image: none !important; }

body {
  padding-top: 60px; }

.navbar a.btn {
  margin-top: 14px; }

svg {
  border-top: solid 1px #E5E5E5; }

.navbar {
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  background-color: #FFFFFF; }
  .navbar .navbar-nav li a {
    color: #5F5F5F;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase; }
  .navbar .navbar-nav li a:hover {
    color: #36D7B7 !important; }
  .navbar .navbar-nav li .active a {
    background: transparent; }
  .navbar .navbar-brand {
    padding-top: 18px;
    margin-right: 10px; }

#navbar-user {
  margin-right: 0; }
  #navbar-user .btn {
    color: #5F5F5F;
    border: 0;
    background: transparent;
    padding: 0; }
    #navbar-user .btn img {
      border-radius: 50%;
      border: 2px #ABABAB solid; }
    #navbar-user .btn .icon {
      line-height: 34px; }

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #5F5F5F; }

a {
  color: #36D7B7; }

a:hover {
  color: #36D7B7; }

.info-headline {
  font-weight: normal;
  color: #5F5F5F;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 5px; }

.info-sub-headline {
  font-weight: lighter;
  font-size: 18px;
  text-transform: uppercase; }

h1, #article_title {
  font-size: 48px !important;
  font-weight: bolder; }

h2, #article_subtitle {
  font-size: 24px !important;
  font-weight: normal; }

h3 {
  font-size: 18px !important;
  font-weight: normal; }

h4 {
  font-size: 14px !important;
  text-transform: uppercase;
  color: #ABABAB;
  margin-bottom: 10px;
  display: inline-block; }

h4.gap {
  margin-top: 50px; }

.lowercase {
  text-transform: none !important; }

.headline h1, .headline #article_title {
  margin-top: 80px;
  margin-bottom: 0;
  color: #2F2F2F; }
.headline h2, .headline #article_subtitle {
  margin-top: 0;
  margin-bottom: 55px; }

.no-content {
  margin-top: 80px;
  margin-bottom: 80px; }
  .no-content .text {
    color: #ABABAB;
    margin-left: 30px; }
  .no-content .icon {
    font-size: 80px;
    color: #E5E5E5; }
  .no-content .title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0; }
  .no-content .subtitle {
    font-size: 18px;
    text-transform: uppercase; }

.white {
  color: #FFFFFF !important; }

footer {
  font-family: Roboto, sans;
  font-weight: lighter;
  color: #ABABAB;
  text-transform: uppercase;
  margin-top: 50px;
  height: 80px; }
  footer a {
    color: #ABABAB; }
  footer a:hover {
    color: #36D7B7; }
  footer p {
    margin: 0; }

.btn {
  font-weight: lighter;
  padding: 6px 25px;
  border-radius: 40px;
  box-shadow: none; }
  .btn .margin-right {
    margin-right: 10px; }

#navbar-user .btn {
  border-radius: 0; }

#show-topics {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 25px;
  width: 300px;
  text-align: left;
  margin-top: 50px; }

.floating {
  border-radius: 100px;
  width: 46px;
  height: 46px;
  text-align: center;
  padding: 0; }
  .floating i {
    font-size: 16px;
    line-height: 46px;
    vertical-align: middle; }

.btn.blue {
  color: #FFFFFF !important;
  background-color: #40BBCB; }

.btn.blue:hover {
  color: #FFFFFF !important;
  background-color: #30a3b2; }

.btn.white {
  color: #5F5F5F !important;
  background-color: #ebebeb; }

.btn.white:hover {
  color: #5F5F5F !important;
  background-color: #d1d1d1; }

.btn.red {
  color: #FFFFFF !important;
  background-color: #F64747; }

.btn.red:hover {
  color: #FFFFFF !important;
  background-color: #f41616; }

.btn.yellow {
  color: #FFFFFF !important;
  background-color: #F2784B; }

.btn.yellow:hover {
  color: #FFFFFF !important;
  background-color: #ef541b; }

.btn.green {
  color: #FFFFFF !important;
  background-color: #36D7B7; }

.btn.green:hover {
  color: #FFFFFF !important;
  background-color: #24b699; }

.btn-group.open .dropdown-toggle {
  box-shadow: none !important; }

.btn:active {
  box-shadow: none; }

.btn:hover {
  color: white; }

.btn-round {
  border-radius: 100px;
  width: 35px;
  padding: 7px 0; }

.btn-white-outline {
  background: transparent;
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-white-outline:active,
.btn-white-outline:focus,
.btn-white-outline:hover {
  background: transparent;
  border-color: #36D7B7 !important;
  color: #36D7B7 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-white-outline-no-hover {
  background: transparent;
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-white-outline-no-hover:active,
.btn-white-outline-no-hover:focus,
.btn-white-outline-no-hover:hover {
  background: transparent;
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-gray-outline {
  background: transparent;
  border-color: #ABABAB !important;
  color: #ABABAB !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-gray-outline:active,
.btn-gray-outline:focus,
.btn-gray-outline:hover {
  background: transparent;
  border-color: #929292 !important;
  color: #929292 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-green-outline {
  background: transparent;
  border-color: #36D7B7 !important;
  color: #36D7B7 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-green-outline:active,
.btn-green-outline:focus,
.btn-green-outline:hover {
  background: transparent;
  border-color: #24b699 !important;
  color: #24b699 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-blue-outline {
  background: transparent;
  border-color: #40BBCB !important;
  color: #40BBCB !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-blue-outline:active,
.btn-blue-outline:focus,
.btn-blue-outline:hover {
  background: transparent;
  border-color: #2e9caa !important;
  color: #2e9caa !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-red-outline {
  background: transparent;
  border-color: #F64747 !important;
  color: #F64747 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-red-outline:active,
.btn-red-outline:focus,
.btn-red-outline:hover {
  background: transparent;
  border-color: #f41616 !important;
  color: #f41616 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-blue-solid {
  background: #40BBCB !important;
  color: #FFFFFF !important;
  border-color: #40BBCB !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-yellow-solid {
  background: #F2784B !important;
  color: #FFFFFF !important;
  border-color: #F2784B !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-blue-solid:active,
.btn-blue-solid:focus,
.btn-blue-solid:hover {
  background: #2e9caa !important;
  color: #FFFFFF !important;
  border-color: #2e9caa !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-yellow-solid:active,
.btn-yellow-solid:focus,
.btn-yellow-solid:hover {
  background: #ef541b !important;
  color: #FFFFFF !important;
  border-color: #ef541b !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-red-solid {
  background: #F64747 !important;
  color: #FFFFFF !important;
  border-color: #F64747 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-red-solid:active,
.btn-red-solid:focus,
.btn-red-solid:hover {
  background: #f41616 !important;
  color: #FFFFFF !important;
  border-color: #f41616 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-green-solid {
  background: #36D7B7 !important;
  color: #FFFFFF !important;
  border-color: #36D7B7 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-green-solid:active,
.btn-green-solid:focus,
.btn-green-solid:hover {
  background: #24b699 !important;
  color: #FFFFFF !important;
  border-color: #24b699 !important;
  border-width: 1px !important;
  border-style: solid !important; }

input:focus,
select:focus,
textarea:focus,
button:focus,
.bootstrap-select:focus {
  outline: none !important;
  box-shadow: none !important; }

.bootstrap-datetimepicker-widget ul {
  padding-left: 0px; }

.bootstrap-select .arrow {
  float: right;
  margin-right: -10px; }

.dropdown-form {
  margin-top: 25px; }
  .dropdown-form .btn {
    text-align: left;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0; }
    .dropdown-form .btn .btn-icon {
      margin-right: 20px; }
  .dropdown-form .btn:active {
    box-shadow: none; }

.dropdown-menu {
  border: 1px solid #E5E5E5 !important;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: none; }
  .dropdown-menu li {
    margin-bottom: 5px;
    margin-top: 5px;
    background: none !important; }
  .dropdown-menu .selected a {
    font-weight: 400; }
  .dropdown-menu li a {
    background: none !important;
    font-weight: 100; }
  .dropdown-menu li a:hover {
    background: none;
    color: #36D7B7; }
  .dropdown-menu a:focus {
    outline: none;
    box-shadow: none; }

.dropdown-menu .inner {
  border: none !important; }

.dropdown-menu:focus {
  outline: none;
  border-radius: 0;
  box-shadow: none; }

.dropdown-menu-right {
  text-align: right; }

.dropdown .icon {
  margin-left: 10px;
  line-height: 18px; }

.left-space {
  margin-left: 20px; }

.bootstrap-datetimepicker-widget {
  width: 262px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px; }
  .bootstrap-datetimepicker-widget td.active {
    text-shadow: none;
    background: none;
    border: none;
    border-radius: 2px;
    background-color: #36D7B7 !important;
    color: #FFFFFF; }
  .bootstrap-datetimepicker-widget td.active:hover.active {
    color: #2F2F2F;
    text-shadow: none; }
  .bootstrap-datetimepicker-widget thead tr:first-child th:hover {
    background: white;
    text-shadow: none; }
  .bootstrap-datetimepicker-widget td.day:hover {
    background: white;
    color: #36D7B7; }
  .bootstrap-datetimepicker-widget .picker-switch {
    margin-top: 15px;
    margin-bottom: 10px; }
  .bootstrap-datetimepicker-widget .picker-switch a {
    color: #2F2F2F !important; }
  .bootstrap-datetimepicker-widget .picker-switch:hover a {
    color: #36D7B7 !important; }
  .bootstrap-datetimepicker-widget td span:hover {
    background-color: #FFFFFF;
    color: #36D7B7; }
  .bootstrap-datetimepicker-widget .timepicker-picker a {
    color: #2F2F2F; }

.bootstrap-datetimepicker-widget:before {
  border: none !important; }

.bootstrap-datetimepicker-widget:after {
  border: none !important; }

.inline {
  display: inline-block; }

.inline-block {
  display: inline-block !important;
  float: none; }

.float-right {
  float: right; }

.no-padding {
  padding: 0; }

.hidden-minimal {
  display: none !important;
  font-size: 1px; }

.centered {
  float: none;
  margin: 0 auto; }

svg {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block; }

svg.border {
  border-bottom: 1px solid #E5E5E5; }

svg.fixed {
  position: fixed;
  width: 100%;
  height: 100%; }

.article text {
  text-anchor: middle;
  fill: white; }

.article circle {
  fill: #40BBCB; }

#hide-topics {
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 1000; }

.svg-container-outer {
  position: relative; }
  .svg-container-outer .svg-container {
    position: relative;
    display: block; }
    .svg-container-outer .svg-container .svg-info {
      position: absolute;
      right: 20px;
      top: 50px; }
      .svg-container-outer .svg-container .svg-info .icon {
        display: inline-block;
        border-radius: 100px;
        width: 46px;
        height: 46px;
        text-align: center;
        padding: 0;
        color: #FFFFFF !important;
        background-color: #40BBCB;
        margin-top: 10px; }
        .svg-container-outer .svg-container .svg-info .icon i {
          font-size: 16px;
          line-height: 46px;
          vertical-align: middle; }
      .svg-container-outer .svg-container .svg-info .text {
        float: right;
        text-align: justify;
        width: 230px;
        margin-left: 20px;
        color: #5F5F5F; }

.node circle {
  fill: #36D7B7; }

.node:hover {
  cursor: pointer; }
  .node:hover circle {
    stroke-width: 3px;
    stroke: #1c8b75; }

.node text {
  text-anchor: middle;
  fill: white; }

path.link {
  fill: none;
  stroke: gray;
  stroke-width: 2.5px;
  cursor: default; }

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.article-content {
  font-size: 18px;
  line-height: 28px;
  font-family: Roboto slab;
  font-weight: 300;
  margin-bottom: 70px;
  color: #2F2F2F; }
  .article-content .content-preview {
    overflow: hidden;
    height: 150px; }
  .article-content p {
    margin: 15px 0 30px;
    padding: 0 30px; }
  .article-content img {
    width: 100%;
    margin: 20px 0 10px 0; }
  .article-content .read-more {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 25px; }
    .article-content .read-more a {
      color: #36D7B7; }
    .article-content .read-more a:hover {
      text-decoration: underline; }

.article-cover, .article-cover-small, .article-cover-detail {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 230px;
  position: relative;
  margin-bottom: 20px;
  color: #FFFFFF; }
  .article-cover .content, .article-cover-small .content, .article-cover-detail .content {
    padding: 0 30px;
    bottom: 30px;
    width: 100%;
    position: absolute; }
  .article-cover .info, .article-cover-small .info, .article-cover-detail .info {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 23px; }
    .article-cover .info .date, .article-cover-small .info .date, .article-cover-detail .info .date {
      color: #e6e6e6;
      float: right; }
    .article-cover .info a, .article-cover-small .info a, .article-cover-detail .info a {
      color: #FFFFFF; }
    .article-cover .info a:hover, .article-cover-small .info a:hover, .article-cover-detail .info a:hover {
      text-decoration: underline; }
    .article-cover .info p, .article-cover-small .info p, .article-cover-detail .info p {
      margin-top: 0px;
      margin-bottom: 0;
      display: inline-block; }
  .article-cover h1, .article-cover-small h1, .article-cover-detail h1, .article-cover #article_title, .article-cover-small #article_title, .article-cover-detail #article_title {
    font-size: 40px !important;
    letter-spacing: 1.39px;
    font-weight: normal;
    margin: 0; }
    .article-cover h1 a, .article-cover-small h1 a, .article-cover-detail h1 a, .article-cover #article_title a, .article-cover-small #article_title a, .article-cover-detail #article_title a {
      text-decoration: none;
      color: #FFFFFF; }
    .article-cover h1 a:hover, .article-cover-small h1 a:hover, .article-cover-detail h1 a:hover, .article-cover #article_title a:hover, .article-cover-small #article_title a:hover, .article-cover-detail #article_title a:hover {
      text-decoration: underline; }
  .article-cover .article-sub-title, .article-cover-small .article-sub-title, .article-cover-detail .article-sub-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
    margin-top: 10px; }
    .article-cover .article-sub-title a, .article-cover-small .article-sub-title a, .article-cover-detail .article-sub-title a {
      color: #FFFFFF; }
    .article-cover .article-sub-title a:hover, .article-cover-small .article-sub-title a:hover, .article-cover-detail .article-sub-title a:hover {
      text-decoration: underline; }

.article-cover-small {
  height: 180px; }
  .article-cover-small h1, .article-cover-small #article_title {
    font-size: 33px !important; }
  .article-cover-small .article-sub-title {
    font-size: 15px; }
  .article-cover-small .info {
    margin-top: 10px; }

.article-cover-detail .container {
  padding-top: 100px; }
.article-cover-detail .title {
  float: left; }
.article-cover-detail .info {
  text-align: right; }
.article-cover-detail h1, .article-cover-detail #article_title {
  font-size: 48px; }
.article-cover-detail .info {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 23px; }
  .article-cover-detail .info .date {
    color: #e6e6e6;
    float: none; }
  .article-cover-detail .info a {
    color: #FFFFFF; }
  .article-cover-detail .info a:hover {
    text-decoration: underline; }
  .article-cover-detail .info p {
    display: block;
    margin-top: 0px;
    margin-bottom: 0; }

.pagination-container {
  text-align: center;
  margin-bottom: 50px;
  border-top: 1px solid #E5E5E5; }

.pagination {
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase; }
  .pagination li span {
    color: #36D7B7; }
  .pagination li span:hover {
    background: none;
    color: #36D7B7; }
  .pagination li a {
    color: #36D7B7; }

main header {
  margin: 80px 0 60px; }

aside {
  position: relative; }

.sidebar {
  padding-top: 80px;
  padding-left: 70px;
  position: static; }
  .sidebar .sidebar-content {
    transform: translateZ(0);
    max-width: 300px; }
  .sidebar .topics, .sidebar .keywords {
    margin-top: 20px; }
  .sidebar h4 {
    margin-top: 30px; }
  .sidebar h4:first-child {
    margin-top: 0px; }

.article-footer {
  margin-bottom: 200px; }
  .article-footer h3 {
    color: #5F5F5F;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 8px;
    margin-bottom: 15px; }
  .article-footer .similar-articles {
    margin-top: 110px; }
    .article-footer .similar-articles .article-miniature {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin-top: 20px;
      text-align: center;
      line-height: 150px;
      position: relative; }
      .article-footer .similar-articles .article-miniature .background-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); }
      .article-footer .similar-articles .article-miniature h1, .article-footer .similar-articles .article-miniature #article_title {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
        font-size: 24px !important;
        letter-spacing: 1.13px;
        font-weight: normal;
        vertical-align: middle;
        margin: 0; }
        .article-footer .similar-articles .article-miniature h1 a, .article-footer .similar-articles .article-miniature #article_title a {
          color: #FFFFFF; }

.empty {
  font-weight: lighter;
  margin-top: 25px;
  margin-bottom: 400px; }

.bubble, .keyword, .topic {
  font-weight: normal;
  padding: 6px 25px;
  border-radius: 40px;
  border: 1px solid #E5E5E5;
  box-shadow: none;
  line-height: 40px;
  white-space: nowrap;
  margin-right: 5px; }
  .bubble a, .keyword a, .topic a {
    color: #ABABAB; }
  .bubble a:hover, .keyword a:hover, .topic a:hover {
    text-decoration: none; }

.keyword:hover {
  border-color: #F7CA18; }
  .keyword:hover a {
    color: #F7CA18; }

.topic:hover {
  border-color: #36D7B7; }
  .topic:hover a {
    color: #36D7B7; }

.author {
  margin-bottom: 30px; }

.author-info .name {
  font-size: 18px;
  margin-bottom: 5px; }
.author-info .bio {
  font-weight: lighter; }

.full-article {
  margin-top: 65px; }

.sidebar-fixed {
  position: fixed;
  top: 80px; }

.sidebar-static {
  position: static; }

#mobile-check {
  display: block; }

@media only screen and (max-width: 767px) {
  #mobile-check {
    display: none; }

  .navbar-header {
    display: inline-block;
    width: 100%; }

  .sidebar-fixed {
    position: static; }

  .sidebar-static {
    position: static; }

  .info-headline {
    margin-left: 40px;
    margin-right: 40px; }

  aside {
    padding: 0 30px; }

  body {
    padding-bottom: 60px; }

  .sidebar {
    padding: 0; }
    .sidebar .sidebar-content {
      max-width: 100%; }
    .sidebar #show-topics {
      width: 100%;
      position: fixed;
      bottom: 0px;
      left: 0px;
      height: 60px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .sidebar #hide-topics {
      top: auto;
      bottom: 15px; }

  .article-cover-detail {
    height: auto; }

  .article-cover .container, .article-cover-small .container, .article-cover-detail .container {
    padding-top: 30px;
    padding-bottom: 30px; }
    .article-cover .container .title, .article-cover-small .container .title, .article-cover-detail .container .title {
      display: block;
      float: none;
      text-align: center; }
      .article-cover .container .title h1, .article-cover-small .container .title h1, .article-cover-detail .container .title h1, .article-cover .container .title #article_title, .article-cover-small .container .title #article_title, .article-cover-detail .container .title #article_title {
        line-height: 0.9em; }
      .article-cover .container .title .article-sub-title, .article-cover-small .container .title .article-sub-title, .article-cover-detail .container .title .article-sub-title {
        display: block;
        margin-top: 10px; }
    .article-cover .container .info, .article-cover-small .container .info, .article-cover-detail .container .info {
      display: block;
      float: none;
      text-align: center; }

  .author-info .name {
    margin-top: 10px; }

  .article-miniature {
    margin-top: 10px; }

  .article-footer {
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px; }

  .author {
    margin-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
