{% extends "blog/base.html" %}
{% load staticfiles %}

{% block title %} - {{ article.title }}{% endblock %}

{% block content_top %}
<svg id="semantic-map" class="hidden">
</svg>
<button class="btn floating white hidden switch" id="hide-topics"><i class="fa fa-times"></i></button>
<div class="article-cover-detail" style="background-image: {% if article.cover_image %}url({{ article.cover_image.url }});{% else %}linear-gradient(-180deg, #64DDC4 0%, #74C1C6 100%);{% endif %}">
  <div class="background-overlay"></div>
  <div class="container">
    <div class="row">
    <div class="col-sm-12">

    <div class="title">
    <h1><a href="{% url 'article' article.slug %}">{{ article.title }}</a></h1>
    <span class="article-sub-title">
      {% if article.flag %}
      <span class="article-flag>"><a href="{% url 'flag' article.flag.slug %}">{{ article.flag }}</a></span> -
      {% endif %}
      {{ article.sub_title }}
    </span>
    </div>
    <div class="info">
    <span class="date">{{ article.published_date|date:'d. E Y' }}</span>
    <p>
    {% for semantic in article.semantic.all %}
    <a href="{% url 'semantic' semantic.slug %}">{{ semantic.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
  </div>

  </div>
  </div>
  </div>
</div>

{% endblock %}

{% block content %}
      <div class="col-sm-8">
          <div class="article-content full-article">
          {% autoescape off %}{{ article.content }}{% endautoescape %}
        </div>
        <div class="article-footer">
          <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 author">
          <h3>Author</h3>
          <div class="row">
          <div class="col-xs-4 col-sm-2 col-md-2">
          {% if article.author.userprofile.profile_image %}
          <img style="width: 100%;" src="{{ article.author.userprofile.profile_image.url }}" alt="User picture">
          {% else %}
          <img style="width: 100%;" src="http://placehold.it/200x200" alt="User picture">
          {% endif %}
          </div>
          <div class="col-xs-8 col-sm-8">
          <div class="author-info">
          <p class="name">{{ article.author.get_full_name }}</p>
          <p class="bio">{{ article.author.userprofile.bio }}</p>
          </div>
          </div>
        </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <h3>Keywords</h3>
          {% for keyword in article.keywords.all %}
          <span class="keyword"><a href="{% url 'keyword' keyword.slug %}">{{ keyword.name }}</a></span>
          {% empty %}
          <span class="empty">No keywords.</span>
          {% endfor %}
        </div>
        <div class="col-sm-12 col-md-6">
          <h3>All topics</h3>
          {% for topic in article.semantic.all %}
          <span class="topic"><a href="{% url 'semantic' topic.slug %}">{{ topic.name }}</a></span>
          {% empty %}
          <span class="empty">No topics.</span>
          {% endfor %}
        </div>
        </div>


        <section class="similar-articles">
          <h3>Similar articles</h3>
          <div class="row">
          {% for similar_article in similar_articles %}
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="article-miniature" style="background-image: {% if similar_article.cover_image %}url({{ similar_article.cover_image.url }});{% else %}linear-gradient(-180deg, #64DDC4 0%, #74C1C6 100%);{% endif %}">
                <div class="background-overlay"></div>
                <h1><a href="{% url 'article' similar_article.slug %}">{{ similar_article }}</a></h1>
              </div>
            </div>
          {% endfor %}
        </div>
        </section>
        </div>
      </div>

{% endblock %}

{% block content_side %}
<div class="col-sm-4 sidebar">
    <div class="sidebar-content">
        {% include "blog/includes/sidebar-topics.html" %}
        {% include "blog/includes/sidebar-keywords.html" %}
        {% include "blog/includes/sidebar-show-topics.html" %}
    </div>
</div>
{% endblock %}
