.form-control, .tagit {
  font-size: 14px;
  font-weight: lighter;
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding-left: 13px; }

.form-control[readonly], [readonly].tagit {
  background: transparent; }

.form-control:focus, .tagit:focus {
  box-shadow: none; }

.input-group {
  margin-top: 25px; }

.input-group-addon {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding-left: 25px; }

.form-error {
  border-bottom: 3px solid #e15d5d !important; }

.white-form {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF; }

.white-form:focus {
  color: #FFFFFF !important;
  border-bottom: 1px solid #FFFFFF; }

.gray-form, .tagit {
  color: #5F5F5F;
  border-bottom: 1px solid #ABABAB; }

.gray-form:focus, .tagit:focus {
  color: #5F5F5F !important;
  border-bottom: 1px solid #ABABAB; }

.white-form::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #FFFFFF; }

.white-form:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF;
  opacity: 1; }

.white-form::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FFFFFF;
  opacity: 1; }

.white-form:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FFFFFF; }

.gray::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #5F5F5F !important; }

.gray:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5F5F5F !important;
  opacity: 1; }

.gray::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5F5F5F !important;
  opacity: 1; }

.gray:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5F5F5F !important; }

#article_title {
  height: auto;
  padding-bottom: 0;
  padding-top: 5px;
  margin-bottom: -5px; }

#article_subtitle {
  font-weight: normal;
  height: auto;
  padding-bottom: 0;
  padding-top: 0; }

#article_content {
  height: inherit;
  resize: none;
  font-size: 18px;
  font-weight: lighter;
  border: 0;
  margin-bottom: 100px; }

ul.tagit {
  width: 100% !important; }

.ui-widget {
  font-family: Roboto, sans-serif; }

.tagit-label {
  font-weight: lighter; }

.tagit {
  border: none !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  color: #5F5F5F !important;
  font-weight: lighter !important;
  padding-bottom: 5px !important; }
  .tagit input {
    font-family: Roboto, sans-serif; }
  .tagit .ui-state-default {
    background: none !important;
    border: 1px solid #ABABAB !important;
    border-radius: 40px;
    line-height: 25px !important;
    margin-right: 10px;
    margin-bottom: 8px; }
  .tagit li.tagit-choice {
    padding-left: 20px !important; }
    .tagit li.tagit-choice span.tagit-label {
      margin-right: 20px; }
    .tagit li.tagit-choice a.tagit-close {
      margin-right: 15px;
      font-size: 18px;
      margin-top: -8px !important; }
  .tagit .tagit-new {
    margin-top: 7px;
    margin-bottom: 4px;
    margin-left: 10px; }
  .tagit .ui-state-default:hover {
    background: none !important;
    border: 1px solid #F64747 !important; }
    .tagit .ui-state-default:hover a {
      color: #F64747; }

.tagit-autocomplete {
  border: 1px solid #E5E5E5 !important;
  border-radius: 2px;
  background: #FFFFFF;
  font-weight: lighter;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .tagit-autocomplete .ui-menu-item {
    margin-top: 8px;
    margin-bottom: 5px; }
  .tagit-autocomplete li.ui-menu-item {
    list-style-image: none; }
    .tagit-autocomplete li.ui-menu-item a {
      background: none; }
  .tagit-autocomplete li.ui-menu-item:hover a {
    background: none !important;
    border: none !important;
    list-style-image: none !important;
    box-shadow: none; }
  .tagit-autocomplete a:hover {
    background: none !important;
    border: none !important;
    text-decoration: none !important;
    list-style-image: none !important; }

.password-reset-link {
  margin-top: 20px; }

body {
  padding-top: 60px; }

.navbar {
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  background-color: #FFFFFF; }
  .navbar .navbar-nav li a {
    color: #5F5F5F;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase; }
  .navbar .navbar-nav li a:hover {
    color: #36D7B7 !important; }
  .navbar .navbar-nav li .active a {
    background: transparent; }
  .navbar .navbar-nav li.right-space {
    margin-right: 30px; }
  .navbar .navbar-brand {
    padding-top: 18px;
    margin-right: 10px; }

#navbar-user {
  margin-right: 0; }
  #navbar-user .btn {
    color: #5F5F5F;
    border: 0;
    background: transparent;
    padding: 0; }
    #navbar-user .btn img {
      border-radius: 50%;
      border: 2px #ABABAB solid; }
    #navbar-user .btn .icon {
      line-height: 34px; }

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #5F5F5F; }

h1, #article_title {
  font-size: 48px !important;
  font-weight: bolder; }

h2, #article_subtitle {
  font-size: 24px !important;
  font-weight: normal; }

h3 {
  font-size: 18px !important;
  font-weight: normal; }

h4, .settings-section h4, .nav-tabs li a {
  font-size: 14px !important;
  text-transform: uppercase;
  color: #ABABAB;
  margin-bottom: 10px;
  display: inline-block; }

a {
  color: #5F5F5F; }

a:hover {
  color: #36D7B7; }

.settings-section h4, .settings-section .nav-tabs li a, .nav-tabs li .settings-section a {
  display: block; }

h4.gap, .nav-tabs li a.gap {
  margin-top: 50px; }

.lowercase {
  text-transform: none !important; }

.headline h1, .headline #article_title {
  margin-top: 60px;
  margin-bottom: 0;
  color: #2F2F2F; }
.headline h2, .headline #article_subtitle {
  margin-top: 0;
  margin-bottom: 55px; }

.no-content {
  margin-top: 80px;
  margin-bottom: 80px; }
  .no-content .text {
    color: #ABABAB;
    margin-left: 30px; }
  .no-content .icon {
    font-size: 80px;
    color: #E5E5E5; }
  .no-content .title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0; }
  .no-content .subtitle {
    font-size: 18px;
    text-transform: uppercase; }

.delete-alert {
  margin-top: 80px;
  margin-bottom: 80px; }
  .delete-alert .text {
    color: #ABABAB;
    vertical-align: super;
    margin-left: 30px; }
  .delete-alert .icon {
    font-size: 80px;
    color: #E5E5E5; }
  .delete-alert .title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0; }
  .delete-alert .subtitle {
    font-size: 18px;
    text-transform: uppercase; }

.white {
  color: #FFFFFF !important; }

.jumbotron {
  height: auto;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom: 90px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .jumbotron h1, .jumbotron #article_title {
    margin-bottom: 0;
    margin-top: 60px; }
  .jumbotron h2, .jumbotron #article_subtitle {
    margin-top: 0; }
  .jumbotron .jumbotron-gap {
    margin-top: 50px; }
  .jumbotron .background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }

.footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 150px;
  padding-top: 45px;
  height: 200px; }

.btn {
  font-weight: lighter;
  padding: 6px 25px;
  border-radius: 40px;
  box-shadow: none; }
  .btn .margin-right {
    margin-right: 10px; }

#navbar-user .btn {
  border-radius: 0; }

.floating {
  border-radius: 100px;
  width: 46px;
  height: 46px;
  text-align: center;
  padding: 0; }
  .floating i {
    font-size: 16px;
    line-height: 46px;
    vertical-align: middle; }

.btn.blue {
  color: #FFFFFF !important;
  background-color: #40BBCB; }

.btn.blue:hover {
  color: #FFFFFF !important;
  background-color: #30a3b2; }

.btn.white {
  color: #5F5F5F !important;
  background-color: #ebebeb; }

.btn.white:hover {
  color: #5F5F5F !important;
  background-color: #d1d1d1; }

.btn.red {
  color: #FFFFFF !important;
  background-color: #F64747; }

.btn.red:hover {
  color: #FFFFFF !important;
  background-color: #f41616; }

.btn.green {
  color: #FFFFFF !important;
  background-color: #36D7B7; }

.btn.green:hover {
  color: #FFFFFF !important;
  background-color: #24b699; }

.btn-group.open .dropdown-toggle {
  box-shadow: none !important; }

.btn:active {
  box-shadow: none; }

.btn:hover {
  color: white; }

.btn-round {
  border-radius: 100px;
  width: 35px;
  padding: 7px 0; }

.btn-white-outline {
  background: transparent;
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-white-outline:active,
.btn-white-outline:focus,
.btn-white-outline:hover {
  background: transparent;
  border-color: #36D7B7 !important;
  color: #36D7B7 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-white-outline-no-hover {
  background: transparent;
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-white-outline-no-hover:active,
.btn-white-outline-no-hover:focus,
.btn-white-outline-no-hover:hover {
  background: transparent;
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-gray-outline {
  background: transparent;
  border-color: #ABABAB !important;
  color: #ABABAB !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-gray-outline:active,
.btn-gray-outline:focus,
.btn-gray-outline:hover {
  background: transparent;
  border-color: #929292 !important;
  color: #929292 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-green-outline {
  background: transparent;
  border-color: #36D7B7 !important;
  color: #36D7B7 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-green-outline:active,
.btn-green-outline:focus,
.btn-green-outline:hover {
  background: transparent;
  border-color: #24b699 !important;
  color: #24b699 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-blue-outline {
  background: transparent;
  border-color: #40BBCB !important;
  color: #40BBCB !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-blue-outline:active,
.btn-blue-outline:focus,
.btn-blue-outline:hover {
  background: transparent;
  border-color: #2e9caa !important;
  color: #2e9caa !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-red-outline {
  background: transparent;
  border-color: #F64747 !important;
  color: #F64747 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-red-outline:active,
.btn-red-outline:focus,
.btn-red-outline:hover {
  background: transparent;
  border-color: #f41616 !important;
  color: #f41616 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-blue-solid {
  background: #40BBCB !important;
  color: #FFFFFF !important;
  border-color: #40BBCB !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-blue-solid:active,
.btn-blue-solid:focus,
.btn-blue-solid:hover {
  background: #2e9caa !important;
  color: #FFFFFF !important;
  border-color: #2e9caa !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-red-solid {
  background: #F64747 !important;
  color: #FFFFFF !important;
  border-color: #F64747 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-red-solid:active,
.btn-red-solid:focus,
.btn-red-solid:hover {
  background: #f41616 !important;
  color: #FFFFFF !important;
  border-color: #f41616 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-green-solid {
  background: #36D7B7 !important;
  color: #FFFFFF !important;
  border-color: #36D7B7 !important;
  border-width: 1px !important;
  border-style: solid !important; }

.btn-green-solid:active,
.btn-green-solid:focus,
.btn-green-solid:hover {
  background: #24b699 !important;
  color: #FFFFFF !important;
  border-color: #24b699 !important;
  border-width: 1px !important;
  border-style: solid !important; }

input:focus,
select:focus,
textarea:focus,
button:focus,
.bootstrap-select:focus {
  outline: none !important;
  box-shadow: none !important; }

.bootstrap-datetimepicker-widget ul {
  padding-left: 0px; }

.bootstrap-select .arrow {
  float: right;
  margin-right: -10px; }

.dropdown-form {
  margin-top: 25px; }
  .dropdown-form .btn {
    text-align: left;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0; }
    .dropdown-form .btn .btn-icon {
      margin-right: 20px; }
  .dropdown-form .btn:active {
    box-shadow: none; }

.dropdown-menu {
  border: 1px solid #E5E5E5 !important;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: none; }
  .dropdown-menu li {
    margin-bottom: 5px;
    margin-top: 5px;
    background: none !important; }
  .dropdown-menu .selected a {
    font-weight: 400; }
  .dropdown-menu li a {
    background: none !important;
    font-weight: 100; }
  .dropdown-menu li a:hover {
    background: none;
    color: #36D7B7; }
  .dropdown-menu a:focus {
    outline: none;
    box-shadow: none; }

.dropdown-menu .inner {
  border: none !important; }

.dropdown-menu:focus {
  outline: none;
  border-radius: 0;
  box-shadow: none; }

.dropdown-menu-right {
  text-align: right; }

.dropdown .icon {
  margin-left: 10px;
  line-height: 18px; }

.left-space {
  margin-left: 20px; }

.bootstrap-datetimepicker-widget {
  width: 262px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 20px; }
  .bootstrap-datetimepicker-widget td.active {
    text-shadow: none;
    background: none;
    border: none;
    border-radius: 2px;
    background-color: #36D7B7 !important;
    color: #FFFFFF; }
  .bootstrap-datetimepicker-widget td.active:hover.active {
    color: #2F2F2F;
    text-shadow: none; }
  .bootstrap-datetimepicker-widget thead tr:first-child th:hover {
    background: white;
    text-shadow: none; }
  .bootstrap-datetimepicker-widget td.day:hover {
    background: white;
    color: #36D7B7; }
  .bootstrap-datetimepicker-widget .picker-switch {
    margin-top: 15px;
    margin-bottom: 10px; }
  .bootstrap-datetimepicker-widget .picker-switch a {
    color: #2F2F2F !important; }
  .bootstrap-datetimepicker-widget .picker-switch:hover a {
    color: #36D7B7 !important; }
  .bootstrap-datetimepicker-widget td span:hover {
    background-color: #FFFFFF;
    color: #36D7B7; }
  .bootstrap-datetimepicker-widget .timepicker-picker a {
    color: #2F2F2F; }

.bootstrap-datetimepicker-widget:before {
  border: none !important; }

.bootstrap-datetimepicker-widget:after {
  border: none !important; }

.inline {
  display: inline-block; }

.inline-block {
  display: inline-block !important;
  float: none; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.no-padding {
  padding: 0; }

.hidden-minimal {
  display: none !important;
  font-size: 1px; }

.article-list {
  margin-top: 70px;
  margin-bottom: 80px; }
  .article-list .article-row {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 30px; }
    .article-list .article-row h2, .article-list .article-row #article_subtitle, .article-list .article-row h4, .article-list .article-row .nav-tabs li a, .nav-tabs li .article-list .article-row a {
      margin-bottom: 0; }
      .article-list .article-row h2 a, .article-list .article-row #article_subtitle a, .article-list .article-row h4 a, .article-list .article-row .nav-tabs li a a, .nav-tabs li .article-list .article-row a a {
        color: #5F5F5F; }
    .article-list .article-row h4, .article-list .article-row .nav-tabs li a, .nav-tabs li .article-list .article-row a {
      margin-left: 20px; }
    .article-list .article-row .btn {
      margin-left: 20px; }
    .article-list .article-row .left {
      line-height: 38px; }
    .article-list .article-row .right {
      float: right;
      line-height: 38px; }
    .article-list .article-row .details .icon {
      margin-right: 15px; }
    .article-list .article-row .details .detail {
      margin-left: 5px; }
    .article-list .article-row .details .detail:nth-child(1) {
      margin-left: 0; }
    .article-list .article-row .details .detail {
      margin-right: 20px; }

.pagination-container {
  text-align: center;
  margin-top: 50px; }

.pagination {
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300; }
  .pagination li span {
    color: #36D7B7; }
  .pagination li span:hover {
    background: none;
    color: #36D7B7; }
  .pagination li a {
    color: #36D7B7; }

.nav-tabs {
  border: 0;
  border-top: 1px solid #E5E5E5; }
  .nav-tabs li a {
    margin-top: -1px !important;
    padding-top: 13px;
    border: 0;
    border-radius: 0; }
  .nav-tabs li a:hover {
    background: none;
    color: #36D7B7;
    padding-top: 10px;
    border-top: 3px #36D7B7 solid; }
  .nav-tabs li.active a {
    color: #36D7B7;
    padding-top: 10px;
    border: 0;
    border-radius: 0;
    border-top: 3px #36D7B7 solid; }
  .nav-tabs li.active a:hover {
    color: #36D7B7;
    padding-top: 10px;
    border: 0;
    border-radius: 0;
    border-top: 3px #36D7B7 solid; }

.settings-tab {
  margin-top: 100px; }

.alert-danger {
  background-color: #F9DEDE;
  border: 0;
  color: #b72121; }
  .alert-danger button {
    color: #b72121; }

.alert {
  text-align: left !important;
  padding: 10px;
  border-radius: 0;
  margin-bottom: 10px; }
  .alert button {
    margin-right: 10px;
    top: 0px !important;
    right: 0px !important; }
  .alert i {
    margin-left: 2px;
    margin-right: 20px; }

#message {
  position: fixed;
  top: 61px;
  left: 0;
  width: 100%; }
  #message .alert {
    margin-bottom: 0; }
  #message .alert-danger {
    border-top: 3px solid #e15d5d; }

.login img {
  margin-top: 80px;
  margin-bottom: 20px; }
.login .button {
  margin-top: 60px; }

.form {
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  margin-top: 50px; }
  .form form {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px; }

svg {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.article text {
  text-anchor: middle;
  fill: white; }

.article circle {
  fill: #40BBCB; }

.article.selected circle {
  stroke-width: 3px;
  stroke: #298996; }

.node circle {
  fill: #4bdbbf; }

.node text {
  text-anchor: middle;
  fill: white; }

.selected circle {
  stroke-width: 3px;
  stroke: #1c8b75; }

.selected-end circle {
  stroke-width: 3px;
  stroke: #1c8b75;
  stroke-dasharray: 10,5; }

.article.selected-end circle {
  stroke-width: 3px;
  stroke: #9c0808;
  stroke-dasharray: 10,5; }

path.link {
  fill: none;
  stroke: gray;
  stroke-width: 2.5px;
  cursor: default; }

path.link.selected {
  stroke-dasharray: 10,2; }

path.link.dragline {
  pointer-events: none; }

path.link.hidden {
  stroke-width: 0; }

.ui-tooltip {
  font-size: 12px !important;
  background-color: #FFFFFF;
  padding: 8px 8px 4px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  border: 0;
  color: #5F5F5F;
  -webkit-box-shadow: 0 1px 2px #dedede !important;
  box-shadow: 0 1px 2px #dedede !important; }

body .ui-tooltip {
  border-width: 2px; }

.ui-widget button {
  font-family: Roboto, sans-serif;
  font-size: 1em; }

.ui-dialog {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: Roboto, sans-serif;
  font-size: 1em !important; }
  .ui-dialog .ui-dialog-titlebar {
    padding-left: 10px;
    padding-right: 0;
    background: none;
    background-color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #ABABAB; }
    .ui-dialog .ui-dialog-titlebar button {
      border: 0 !important;
      margin-right: 0;
      background: #FFFFFF; }
    .ui-dialog .ui-dialog-titlebar button:hover {
      border: 0 !important; }
  .ui-dialog .ui-dialog-content {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 20px; }
    .ui-dialog .ui-dialog-content .icon {
      color: #ABABAB;
      padding-top: 5px;
      margin-right: 20px;
      float: left;
      font-size: 30px; }
    .ui-dialog .ui-dialog-content .input-group {
      padding-left: 15px;
      padding-right: 15px; }
      .ui-dialog .ui-dialog-content .input-group input {
        font-family: Roboto, sans-serif; }
    .ui-dialog .ui-dialog-content p {
      color: #5F5F5F;
      padding-left: 15px;
      padding-right: 15px; }
  .ui-dialog .ui-dialog-buttonpane {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    border: 0; }
    .ui-dialog .ui-dialog-buttonpane button {
      border: 0;
      background: #FFFFFF;
      margin-right: 10px; }
      .ui-dialog .ui-dialog-buttonpane button span {
        padding: 0; }
    .ui-dialog .ui-dialog-buttonpane button:last-child {
      margin-right: 0; }

.toolbar {
  position: absolute;
  right: 25px;
  top: 55px; }
  .toolbar .buttons {
    float: right; }
  .toolbar a {
    margin-bottom: 15px;
    display: block; }
  .toolbar a:hover {
    transform: rotate(45deg, 0); }

.article-list-right {
  border-left: 1px #E5E5E5 solid;
  padding-top: 15px;
  padding-right: 40px;
  padding-left: 25px;
  right: 0; }
  .article-list-right .articles {
    overflow: auto;
    height: 100px;
    margin-bottom: 20px; }
  .article-list-right .input-group {
    margin-top: 5px;
    margin-bottom: 35px; }
  .article-list-right h4, .article-list-right .nav-tabs li a, .nav-tabs li .article-list-right a {
    margin-bottom: 15px; }
  .article-list-right .article {
    margin-bottom: 15px; }
    .article-list-right .article h3 {
      margin-bottom: 0;
      margin-top: 0; }
    .article-list-right .article h4, .article-list-right .article .nav-tabs li a, .nav-tabs li .article-list-right .article a {
      margin-top: 5px;
      margin-bottom: 0; }
  .article-list-right .article.selected h3,
  .article-list-right .article.selected h4,
  .article-list-right .article.selected .nav-tabs li a,
  .nav-tabs li .article-list-right .article.selected a {
    color: #36D7B7; }
  .article-list-right .article:not(.nohover):hover {
    cursor: pointer; }
    .article-list-right .article:not(.nohover):hover h3 {
      color: #36D7B7;
      text-decoration: underline; }
    .article-list-right .article:not(.nohover):hover h4, .article-list-right .article:not(.nohover):hover .nav-tabs li a, .nav-tabs li .article-list-right .article:not(.nohover):hover a {
      color: #36D7B7; }

.redactor-box {
  max-width: 100% !important; }

.settings {
  margin-top: 70px;
  margin-bottom: 100px; }
  .settings .settings-section {
    margin-bottom: 50px; }
    .settings .settings-section .user-picture {
      margin-top: 30px; }
      .settings .settings-section .user-picture input {
        margin-left: 30px; }

/*# sourceMappingURL=style.css.map */
