// _articleslist.scss

.article-list {
  margin-top: 70px;
  margin-bottom: 140px;

  .article-row {
    border-bottom: 1px solid $mercury;
    padding-bottom: 30px;

    h2, h4 {
      margin-bottom: 0;

      a {
        color: $chicago;
      }
    }

    h4 {
      margin-left: 20px;
    }

    .btn {
      margin-left: 20px;
    }

    .left {
      line-height: 38px;
    }

    .right {
      float: right;
      line-height: 38px;
    }

    .details {
      .icon {
        margin-right: 15px;
      }

      .detail {
        margin-left: 20px;
      }

      .detail:nth-child(1) {
        margin-left: 0;
      }
    }


  }
}
