// _button.scss

.btn {
    font-weight: lighter;
    padding: 6px 25px;
    border-radius: 40px;
    box-shadow: none;

    .margin-right {
        margin-right: 10px;
    }
}

#navbar-user {
    .btn {
        border-radius: 0;
    }
}

.floating {
    @include floating(46px);
}

.btn.blue {
    @include btn-color($shakespeare, $white);
}

.btn.blue:hover {
    @include btn-color(darken($shakespeare, 8), $white);
}

.btn.white {
    @include btn-color(darken($white, 8), $chicago);
}
.btn.white:hover {
    @include btn-color-hover(darken($white, 8), $chicago);
}

.btn.red {
    @include btn-color($sunset-orange, $white);
}
.btn.red:hover {
    @include btn-color-hover($sunset-orange, $white);
}

.btn.green {
    @include btn-color($turquoise, $white);
}

.btn.green:hover {
    @include btn-color-hover($turquoise, $white);
}

.btn-group.open .dropdown-toggle {
    box-shadow: none !important;
}

.btn:active {
    box-shadow: none;
}

.btn:hover {
    color: white;
}

.btn-round {
    border-radius: 100px;
    width: 35px;
    // padding: 11px 9px 11px 8px;
    padding: 7px 0;
}

.btn-white-outline {
    @include btn-outline($white);
}

.btn-white-outline:active,
.btn-white-outline:focus,
.btn-white-outline:hover {
    @include btn-outline-hover($turquoise);
}

.btn-white-outline-no-hover {
    @include btn-outline($white);
}

.btn-white-outline-no-hover:active,
.btn-white-outline-no-hover:focus,
.btn-white-outline-no-hover:hover {
    @include btn-outline-hover($white);
}

.btn-gray-outline {
    @include btn-outline($silver);
}

.btn-gray-outline:active,
.btn-gray-outline:focus,
.btn-gray-outline:hover {
    @include btn-outline-hover(darken( $silver, 10% ));
}

.btn-green-outline {
    @include btn-outline($turquoise);
}

.btn-green-outline:active,
.btn-green-outline:focus,
.btn-green-outline:hover {
    @include btn-outline-hover(darken( $turquoise, 10% ));
}

.btn-blue-outline {
    @include btn-outline($shakespeare);
}

.btn-blue-outline:active,
.btn-blue-outline:focus,
.btn-blue-outline:hover {
    @include btn-outline-hover(darken( $shakespeare, 10% ));
}

.btn-red-outline {
    @include btn-outline($sunset-orange);
}

.btn-red-outline:active,
.btn-red-outline:focus,
.btn-red-outline:hover {
    @include btn-outline-hover(darken( $sunset-orange, 10% ));
}

.btn-blue-solid {
    @include btn-solid($shakespeare, $white);
}

.btn-blue-solid:active,
.btn-blue-solid:focus,
.btn-blue-solid:hover {
    @include btn-solid-hover(darken( $shakespeare, 10% ), $white);
}

.btn-red-solid {
    @include btn-solid($sunset-orange, $white);
}

.btn-red-solid:active,
.btn-red-solid:focus,
.btn-red-solid:hover {
    @include btn-solid-hover(darken( $sunset-orange, 10% ), $white);
}

.btn-green-solid {
    @include btn-solid($turquoise, $white);
}

.btn-green-solid:active,
.btn-green-solid:focus,
.btn-green-solid:hover {
    @include btn-solid-hover(darken( $turquoise, 10% ), $white);
}
