// _forms.scss

// .bootstrap-select

// form {
//   display: inline;
// }

.form-control {
  font-size: 14px;
  font-weight: lighter;
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding-left: 13px;
}
.form-control[readonly] {
  background: transparent;
}
.form-control:focus {
  box-shadow: none;
}
.input-group {
  margin-top: 25px;
}
.input-group-addon {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding-left: 25px;
}

.form-error {
  // color: #d75654 !important;
  border-bottom: 3px solid darken( $cosmos, 30% ) !important;
}

.white-form {
  @include form-color($white, $white);
}
.white-form:focus {
  @include form-color-focus($white, $white);
}
.gray-form {
  @include form-color($chicago, $silver);
}
.gray-form:focus {
  @include form-color-focus($chicago, $silver);
}
.white-form::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $white;
}
.white-form:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $white;
  opacity: 1;
}
.white-form::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $white;
  opacity: 1;
}
.white-form:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $white;
}
.gray::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $chicago !important;
}
.gray:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $chicago !important;
  opacity: 1;
}
.gray::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $chicago !important;
  opacity: 1;
}
.gray:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $chicago !important;
}
#article_title {
  @extend h1;
  // width: auto;
  // min-width: 200px;
  height: auto;
  padding-bottom: 0;
  padding-top: 5px;
  // margin-top: 20px;
  margin-bottom: -5px;
}
#article_subtitle {
  @extend h2;
  font-weight: normal;
  // width: auto;
  height: auto;
  padding-bottom: 0;
  padding-top: 0;
}
#article_content {
  height: inherit;
  resize: none;
  font-size: 18px;
  font-weight: lighter;
  border: 0;
  margin-bottom: 100px;

  // white-space: normal;
}

ul.tagit {
  width: 100% !important;
  // margin-top: -17px !important;
}

.tagit, .ui-widget-content {
  @extend .form-control;
  @extend .gray-form;
  border: none !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  color: $chicago !important;
  font-weight: lighter !important;
  padding-bottom: 5px !important;
  // width: 100%;
  // font-weight: 400 !important;

  .ui-state-default {
    background: none !important;
    border: 1px solid $silver !important;
    border-radius: 40px;
    line-height: 25px !important;
    margin-right: 10px;
    margin-bottom: 8px;
    // border: 1px solid #F64747;
    // border-radius: 40px;
    // background-color: $white !important;
  }

  li.tagit-choice {
    padding-left: 20px !important;
    // padding-right: 30px !important;

    span.tagit-label {
      margin-right: 20px;
    }

    a.tagit-close {
      margin-right: 15px;
      font-size: 18px;
      margin-top: -10px !important;
    }

    a.tagit-close:hover {

    }
  }

  .tagit-new {
    margin-top: 7px;
    margin-bottom: 4px;
    margin-left: 10px;

    // input::-webkit-input-placeholder {
    //   /* WebKit, Blink, Edge */
    //   color: $chicago !important;
    // }
    // input:-moz-placeholder {
    //   /* Mozilla Firefox 4 to 18 */
    //   color: $chicago !important;
    //   opacity: 1;
    // }
    // input::-moz-placeholder {
    //   /* Mozilla Firefox 19+ */
    //   color: $chicago !important;
    //   opacity: 1;
    // }
    // input:-ms-input-placeholder {
    //   /* Internet Explorer 10-11 */
    //   color: $chicago !important;
    // }
  }



  .ui-state-default:hover {
    background: none !important;
    border: 1px solid $sunset-orange !important;
    // background-color: $white !important;

    a {
      color: $sunset-orange;
    }
  }
}

.ui-autocomplete {
  border: 1px solid $mercury !important;
  border-radius: 3px;
  background: $white;

  .ui-menu-item {
    margin-top: 8px;
    margin-bottom: 5px;
  }

  li.ui-menu-item:hover a {
    background: none !important;
    border: none !important;
    list-style-image: none !important;
    font-weight: lighter !important;
  }

  a:hover {
    background: none !important;
    border: none !important;
    text-decoration: none !important;
    list-style-image: none !important;
  }
}


// /* Rectangle 106 Copy 2: */
// border: 1px solid #F64747;
// border-radius: 40px;
// /* Keyword: */
// font-family: Roboto-Light;
// font-size: 14px;
// color: #5F5F5F;
// line-height: 16px;
// /* ×: */
// font-family: Roboto-Light;
// font-size: 18px;
// color: #F64747;
// line-height: 14px;

// .bootstrap-select {
//   button {
//     color: red;
//   }
// }
//
// .bootstrap-select:focus {
//   outline: none !important;
//   box-shadow: none !important;
//
//   button:focus {
//     outline: none !important;
//     box-shadow: none !important;
//   }
// }
