// _forms.scss

// .bootstrap-select

.form-control {
  font-size: 14px;
  font-weight: lighter;
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding-left: 13px;
}
.form-control:focus {
  box-shadow: none;
}
.input-group {
  margin-top: 25px;
}
.input-group-addon {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding-left: 25px;
}

.form-error {
  // color: #d75654 !important;
  border-bottom: 3px solid darken( $cosmos, 30% ) !important;
}

.white-form {
  @include form-color($white, $white);
}
.white-form:focus {
  @include form-color-focus($white, $white);
}
.gray-form {
  @include form-color($chicago, $silver);
}
.gray-form:focus {
  @include form-color-focus($chicago, $silver);
}
.white-form::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $white;
}
.white-form:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $white;
  opacity: 1;
}
.white-form::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $white;
  opacity: 1;
}
.white-form:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $white;
}
.gray::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $chicago !important;
}
.gray:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $chicago !important;
  opacity: 1;
}
.gray::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $chicago !important;
  opacity: 1;
}
.gray:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $chicago !important;
}
#article_title {
  @extend h1;
  // width: auto;
  // min-width: 200px;
  height: auto;
  padding-bottom: 0;
  padding-top: 5px;
  // margin-top: 20px;
  margin-bottom: -5px;
}
#article_subtitle {
  @extend h2;
  font-weight: normal;
  // width: auto;
  height: auto;
  padding-bottom: 0;
  padding-top: 0;
}
#article_content {
  height: inherit;
  resize: none;
  font-size: 18px;
  font-weight: lighter;
  border: 0;
  margin-bottom: 200px;

  // white-space: normal;
}

// .bootstrap-select {
//   button {
//     color: red;
//   }
// }
//
// .bootstrap-select:focus {
//   outline: none !important;
//   box-shadow: none !important;
//
//   button:focus {
//     outline: none !important;
//     box-shadow: none !important;
//   }
// }
