// _navbar.scss

body {
  padding-top: $navbar-width; //fixed-header
}

.navbar {
  border: 0;
  border-bottom: 1px solid $mercury;
  background-color: $white;

  .navbar-nav {
    li {
      a {
        color: $chicago;
        font-size: 14px;
        font-weight: lighter;
        text-transform: uppercase;
      }
      a:hover {
        color: $turquoise !important;
      }
      .active a {

        // color: $turquoise;
        background: transparent;
      }
    }
    li.right-space {
      margin-right: 30px;
    }
  }
  .navbar-brand {
    padding-top: 18px;
    margin-right: 10px;
  }
}

#navbar-user {
  margin-right: 0;
  .btn {
    color: $chicago;
    border: 0;
    background: transparent;
    padding: 0;
    img {
      border-radius: 50%;
      border: 2px $silver solid;
    }
    .icon {
      line-height: 34px;
    }
  }
}
