svg {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    // border: 1px solid black;
}

.article text {
    text-anchor: middle;
    fill: white;
}

.article circle {
    // fill: ligten($shakespeare, 5);
    fill: $yellow;
}

.article.selected circle {
    stroke-width: 3px;
    stroke: darken($shakespeare, 15%);
}

.node circle {
    fill: lighten($turquoise, 5);
    // fill: $silver;
}

.node text {
    text-anchor: middle;
    fill: white;
    // fill: darken($turquoise, 20);
}

.selected circle {
    stroke-width: 3px;
    stroke: darken($turquoise, 20%);
}

.selected-end circle {
    stroke-width: 3px;
    stroke: darken($turquoise, 20%);
    stroke-dasharray: 10,5;
}

.article.selected-end circle {
    stroke-width: 3px;
    stroke: darken($sunset-orange, 30%);
    stroke-dasharray: 10,5;
}
// .link {
//   stroke: #999;
//   stroke-width: 1.5px;
// }
// .text {
//   text-anchor: middle;
//   fill: white;
// }

path.link {
    fill: none;
    stroke: gray;
    stroke-width: 2.5px;
    cursor: default;
}

path.link.selected {
    stroke-dasharray: 10,2;
}

path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

.ui-tooltip {
    font-size: 12px !important;
    // text-transform: uppercase;
    background-color: $white;
    padding: 8px 8px 4px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    border: 0;
    color: $chicago;
    // border: 1px solid $mercury !important;
    -webkit-box-shadow: 0 1px 2px lighten($silver, 20) !important;
    box-shadow: 0 1px 2px lighten($silver, 20) !important;
}

body .ui-tooltip {
    border-width: 2px;
}

.ui-widget button {
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.ui-dialog {
    background-color: $white;
    border: 1px solid $mercury;
    border-radius: 10px;
    padding: 10px 15px;
    font-family: Roboto, sans-serif;
    font-size: 1em !important;

    .ui-dialog-titlebar {
        padding-left: 10px;
        padding-right: 0;
        background: none;
        background-color: $white;
        border: none;
        text-transform: uppercase;
        font-weight: 500;
        color: $silver;

        button {
            border: 0 !important;
            margin-right: 0;
            background: $white;
        }

        button:hover {
            border: 0 !important;
        }
    }

    .ui-dialog-content {
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;

        .icon {
            color: $silver;
            padding-top: 5px;
            // margin-left: 10px;
            margin-right: 20px;
            float: left;
            font-size: 30px;
        }

        .input-group {
            // margin-top: 0;
            padding-left: 15px;
            padding-right: 15px;

            input {
                font-family: Roboto, sans-serif;
            }
        }

        p {
            color: $chicago;
            padding-left: 15px;
            padding-right: 15px;
        }

        h4 {
          padding-left: 15px;
        }
    }

    .ui-dialog-buttonpane {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0;
        // padding: 0;
        border: 0;

        button {
            border: 0;
            background: $white;
            margin-right: 10px;

            span {
                padding: 0;
            }
        }

        button:last-child {
            margin-right: 0;
        }
    }
}

.toolbar {
    // background: $white;
    // width: 100%;
    position: absolute;
    right: 25px;
    top: 55px;
    // bottom: 15px;
    // padding-top: 15px;
    // padding-right: 30px;
    // padding-bottom: 15px;
    // border-bottom: 1px solid $mercury;
    // border-left: 1px solid $mercury;
    .buttons {
        float: right;
    }

    a {
        // margin-left: 20px;
        margin-bottom: 15px;
        display: block;
    }

    a:hover {
        transform:rotate(45deg, 0);
    }
}

.article-list-right {
    // max-height: auto;

    border-left: 1px $mercury solid;
    padding-top: 15px;
    padding-right: 40px;
    padding-left: 25px;
    right: 0;
    // height: 500px;
    // height: 100%;
    // overflow-x: hidden;
    // overflow-y: hidden;
    // position: fixed;
    // position: relative;


    .articles {
        // overflow-y: auto;
        overflow: auto;
        height: 100px;
        margin-bottom: 20px;
        // height: 100%;
        // position: fixed;
        // height: inherit;
        // width: 100%;
    }

    .input-group {
        margin-top: 5px;
        margin-bottom: 35px;
    }

    h4 {
        margin-bottom: 15px;
    }

    .article {
        margin-bottom: 15px;
        h3 {
            margin-bottom: 0;
            margin-top: 0;
        }

        h4 {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }

    .article:last-child {
        // margin-bottom: 50px !important;
    }

    .article.selected {
        h3,
        h4 {
            color: $turquoise;
        }
    }

    .article:not(.nohover):hover {
        cursor: pointer;

        h3 {
            color: $turquoise;
            text-decoration: underline;
        }

        h4 {
            color: $turquoise;
        }
    }
}
