svg {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  // border: 1px solid black;
}

.article text {
  text-anchor: middle;
  fill: white;
}

.node circle {
  fill: #36D7B7;
}

.node text {
  text-anchor: middle;
  fill: white;
}

.node.selected circle {
  stroke-width: 3px;
  stroke: #19987F;
}

.nodeGroup.selected circle {
  stroke-width: 3px;
  stroke: #19987F;
}

.nodeGroup.selected-end circle {
  stroke-width: 3px;
  stroke: red;
}

// .link {
//   stroke: #999;
//   stroke-width: 1.5px;
// }

// .text {
//   text-anchor: middle;
//   fill: white;
// }


path.link {
  fill: none;
  stroke: gray;
  stroke-width: 2.5px;
  cursor: default;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

.article-list-right {
  height: 100%;
  border-left: 1px $mercury solid;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 25px;

  h4 {
    margin-bottom: 15px;
  }

  .article {
    h3 {
      margin-bottom: 0;
    }

    h4 {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  .article:hover {
    h3 {
      color: $turquoise;
      text-decoration: underline;
    }

    h4 {
      color: $turquoise;
    }
  }
}
