.settings {
  margin-top: 70px;
  margin-bottom: 100px;

  .settings-section {
    margin-bottom: 50px;

    .user-picture {
      margin-top: 30px;

      input {
        margin-left: 30px;
      }
    }
  }

}
