// _typography.scss

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: $chicago;
}

h1 {
  font-size: 48px !important;
  font-weight: bolder;
  // margin-bottom: 0 !important;
}

h2 {
  font-size: 24px !important;
  font-weight: normal;
  // margin-top: 0 !important;
}

h4 {
  font-size: 14px !important;
  text-transform: uppercase;
  color: $silver;
  margin-bottom: 20px;
  display: inline-block;
}

.headline {
  h1 {
    margin-top: 80px;
    margin-bottom: 0;
    color: $mine;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 55px;
  }
}

//COLORS
//---------

.white {
  color: $white !important;
}
